*{
    padding:0px !important;
    margin: 0px;
}

/*Login Page*/

#background-image{
    background-image: url("http://www.financialbasics.org.au/_media/images/bg_scene.jpg") ;
    height: 100vh;
}
#login{
    text-align: center;
    background-color: rgba(255,255,255,0.9);
    padding: 50px !important;
}

#login img{
     width: 100%;
    max-width: 100px;
}

input,button{
    display: block;
    padding: 10px !important;
}

button{
    display: block;
}

#forget-password{
    font-size: 10px;
}

/*Dashboard Page*/

#header{
    min-height: 20vh;
    padding: 40px !important;
    background-color: #333333;
    color: #ffffff;
}

#body-content{
    min-height: 70vh;
    padding: 100px 40px !important;
    background: url("http://www.financialbasics.org.au/_media/images/bg_scene.jpg") ;
    )
}

.widget{
    text-align: center;
    padding: 60px 0 !important;
    -webkit-transition: background-color 1s;
    transition: background-color 1s;
}

.widget#game{
    background-color: #d75956;
    color: #ffffff;
}

.widget#goal{
    background-color: #fcbf63;
    color: #ffffff;
}

.widget#ask{
    background-color: #74c97c;
    color: #ffffff;
}

.widget#money{
    background-color: #448dd2;
    color: #ffffff;
}

.widget#game:hover{
    background-color: #FF6A66;
}

.widget#goal:hover{
    background-color: #FCBF48;
}

.widget#ask:hover{
    background-color: #7EDB87;
}

.widget#money:hover{
    background-color: #53ABFF;
}

@media only screen and (min-width : 320px) {

    #header{
        min-height: 20vh;
        padding:25px 10px 5px 10px !important;
        width: 100%;
        font-family: 'Open Sans', sans-serif;
    }

    #header h1{
        font-size: 2.25rem;
        font-weight: normal;       
    }

    #header h3{
        font-family: 'Raleway', sans-serif;
        font-size:1.5rem;
        font-weight: lighter;
    }

    .account-progress{
        padding-top: 10px !important;
        float: right;
        text-align: right;
    }
    .account-progress #progress{
        font-size: 2rem;
    }

    #body-content{
        padding: 20px 10px 10px 10px !important;
        background: none !important;
    }

    #body-content .widget{
        border: 2px solid white;
    }

    /*goals css*/
    .instructional{
        padding: 20px 25px 10px 25px !important;
        text-align: center;
    }

    .action{
        padding:10px 25px 10px 40px !important;
    }

    .step{
        padding: 50px 0px 0px 0px !important;    
    }

    .select-type {
    text-align: center; 
    vertical-align: middle
    }

    .select-type div{
        padding: 10px !important;
    }

    .inputform{
        text-align: center;
    }

    .inputform input{
        margin: auto;
    }

    .radio-form input{
        display: inline-block;
    }

    .radio-form span{
        display: block;
        margin-left: auto;
    }


}
