*{
    padding:0px !important;
    margin: 0px;
}

body{
    background-color: rgba(255,255,255,0);
}

/*Login Page*/

#background-image{
    background-image: url("http://www.financialbasics.org.au/_media/images/bg_scene.jpg") ;
    height: 100vh;
}
#login{
    text-align: center;
    background-color: rgba(255,255,255,0.7);
    padding: 50px !important;
}

#login img{
     width: 100%;
    max-width: 100px;
}

input, .btn{
    display: block;
    padding: 10px !important;
}

select{
    height: 40px;
    width: 100%;
    margin-top: 16px;
}

button{
    display: block;
}

#forget-password{
    font-size: 10px;
}

.login-column{
    padding: 0 20px !important;
}

/*Dashboard Page*/

#header{
    min-height: 20vh;
    padding: 40px !important;
    background-color: #333333;
    color: #ffffff;
    text-align: center;
}

#body-content{
    min-height: 70vh;
    padding: 100px 40px !important;
    background: url("http://www.financialbasics.org.au/_media/images/bg_scene.jpg") ;
    )
}

.widget{
    text-align: center;
    padding: 60px 0 !important;
    -webkit-transition: background-color 1s;
    transition: background-color 1s;
}

.widget#game{
    background-color: #d75956;
    color: #ffffff;
}

.widget#goal{
    background-color: #fcbf63;
    color: #ffffff;
}

.widget#ask{
    background-color: #74c97c;
    color: #ffffff;
}

.widget#money{
    background-color: #448dd2;
    color: #ffffff;
}

.widget#game:hover{
    background-color: #FF6A66;
}

.widget#goal:hover{
    background-color: #FCBF48;
}

.widget#ask:hover{
    background-color: #7EDB87;
}

.widget#money:hover{
    background-color: #53ABFF;
}

/* Finances CSS STYLES */
#content-body{
    padding: 50px !important;
}